---
layout: base.njk
---

<header class="container">
  <a href="/news" class="back">&laquo; All News Articles</a>
  <h1>{{ title }}</h1>
</header>

<div class="container">
  <article>
    <p>{{ date | newsDate }}</p>
    {{ content | safe }}
  </article>
</div>
