nav.navbar {
  background-color: #268889;
}
nav.navbar + * {
  margin-top: 6rem;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  line-height: 2.028571429;
  color: #555555;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #555555;
}

header a.back {
  display: block;
  margin-bottom: 2rem;
}

/* News Page - article links */
.news-link-area {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}
.news-link-article {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  cursor: pointer;
  border-radius: 20px;
}
.news-link-article:hover {
  background-color: #fcfcfc;
}
.news-link-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.news-thumbnail {
  width: 120px;
}
