nav.navbar {
  background-color: #268889;
}
nav.navbar + * {
  margin-top: 6rem;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  line-height: 2.028571429;
  color: #555555;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #555555;
}

header {
  margin-bottom: 2.5rem;
}
header a.back {
  display: block;
  margin-bottom: 2rem;
}
main {
  min-height: 500px;
}
footer {
  /* background-color: #268889;
  color: #fff; */
}

/* News Page - article links */
.news-link-area {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}
.news-link-article {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  cursor: pointer;
  border-radius: 20px;
}
.news-link-article:hover {
  background-color: #fcfcfc;
}
.news-link-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.news-thumbnail {
  width: 120px;
}

/* Programs pages */
.container-popout-image {
  width: 99.4vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2rem -50vw 2rem -50vw;
  /* and the image part */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.container-popout-image .opaline {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: rgba(38, 136, 137, 0.85);
  color: #fff;
}
blockquote cite {
  display: block;
  font-style: italic;
}

p span.opener {
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
}
